.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 15px;
}

.icons {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  gap: 10px;
  
}

.btn-inner {
  position: absolute;
  right: 15px;
}
