body{
  background-color: #222;
}



.guestbook{
  width: 80%;
  max-width: 1440px;
  /* height: 800px; */
  background: gray;
  margin: auto;
  padding: 60px 0 120px;
}

.guestbook h2{
  padding: 30px 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  border-bottom: solid 2px black;
}
.save-box{
  background: green;
  /* padding: 50px 0 100px; */
text-align: center;
font-size: 20px;
padding: 20px 0 40px;
}
.save-box p{
  padding: 20px 0;
}

.save-box .input-com{
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.save-box input{
  height: 46px;
  border-radius: 23px;
  margin-right: 12px ;
  padding: 20px 30px;
  margin-bottom: 20px;

}
.save-box .comment-box{
  width: 100%;
  height: 100px;

}
.save-box .name-box{
  width: calc(100% - 170px)
}

.save-box button{
  height: 46px;
width: 150px;
border-radius: 23px;
font-size: 16px;
color: black;

}
.guestbook table{
  background: pink;
  width: 100%;
}
.guestbook table th{
  text-align: center;
}
.guestbook table th,td{
  padding: 12px 0;
  border-right: solid 1px black;

}
.guestbook table th:nth-child(5),td:nth-child(5){
  border-right: none;

}
.guestbook table td{
  padding-left: 12px;
  background: white;
  border-bottom: solid 1px black;
}
.guestbook table td:nth-child(1){
  padding: 0;
  text-align: center;

}
.guestbook table td.btn-box{
  padding: 0;
  padding-left: 0;
  display: flex;
}
.guestbook table td.btn-box.af{
display: none;
}
.guestbook .num{
  width: 5%;

}
.guestbook .user{
  width: 15%;

}
.guestbook .comment{
  width: 45%;
}
.guestbook .date{
  width: 25%;

}
.guestbook .btn-thead{
  width: 20%;
}
.guestbook .btn-click{
  width: 50%;
  height: 100%;
  background: palegreen;
  padding: 12px 0;
}
.guestbook .btn-click:nth-child(1){
  border-right: solid 1px black;
}
.content-box{
  width: 100%;
  height: auto;
}
.update-input-box{
  display: none;
}
.update-input-box input{
  display: none;
}
#choose .btn-box.af{
  display: flex;
}
#choose .update-input-box{
  display: block;
}
#choose .update-input-box input{
  display: block;
}
#choose .bf{
  display: none;
}


